<div class="color-palette__primary">
	<h2>{{ heading1 }}</h2>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss1 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex1 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla1 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss2 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex2 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla2 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss3 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex3 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla3 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss4 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex4 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla4 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss5 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex5 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla5 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss6 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex6 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla6 }};</span>
		</div>
	</div>
</div>
<div class="color-palette__secondary">
	<h2>{{ heading2 }}</h2>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss7 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex7 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla7 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss8 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex8 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla8 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss9 }};</span>
			<span class="color_hex">{{ labelHEX8 }} {{ hex9 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla9 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss10 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex10 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla10 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss11 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex11 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla11 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss12 }};</span>
			<span class="color_hex">{{ labelHEX8 }} {{ hex12 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla12 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss13 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex13 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla13 }};</span>
		</div>
	</div>
</div>
<div class="color-palette__supplemental">
	<h2>{{ heading3 }}</h2>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss14 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex14 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla14 }};</span>
		</div>
	</div>
	<div class="color__block">
		<div class="color__swatch"></div>
		<div class="color__ref">
			<span class="color_scss">{{ labelSCSS }} {{ scss15 }};</span>
			<span class="color_hex">{{ labelHEX }} {{ hex15 }};</span>
			<span class="color_hsla">{{ labelHSLA }} {{ hsla15 }};</span>
		</div>
	</div>
</div>