<main class="drawer">
	<nav class="topnav__contents">
		<div class="topnav__contents__atalanta-fugiens">
			<ul>
				<li class="toc__heading"><a href="../atalanta-fugiens/toc_af.html"><cite>{{ heading1 }}</cite></a></li>
				<li class="toc__subheading">{{ subheading1 }}</li>
				<li class="toc__description">{{ description1 }}</li>
				<li class="toc__content">
					<ul>
						<li><a href="../atalanta-fugiens/frontispiece.html">Frontispiece</a></li>
						<li><a href="../atalanta-fugiens/author-epigram.html">Author's Epigram</a></li>
						<li><a href="../atalanta-fugiens/dedication.html">Dedication</a></li>
						<li><a href="../atalanta-fugiens/preface.html">Preface</a></li>
						<li><a href="../atalanta-fugiens/emblem01.html">1</a></li>
						<li><a href="../atalanta-fugiens/emblem02.html">2</a></li>
						<li><a href="../atalanta-fugiens/emblem03.html">3</a></li>
						<li><a href="../atalanta-fugiens/emblem04.html">4</a></li>
						<li><a href="../atalanta-fugiens/emblem05.html">5</a></li>
						<li><a href="../atalanta-fugiens/emblem06.html">6</a></li>
						<li><a href="../atalanta-fugiens/emblem07.html">7</a></li>
						<li><a href="../atalanta-fugiens/emblem08.html">8</a></li>
						<li><a href="../atalanta-fugiens/emblem09.html">9</a></li>
						<li><a href="../atalanta-fugiens/emblem10.html">10</a></li>
						<li><a href="../atalanta-fugiens/emblem11.html">11</a></li>
						<li><a href="../atalanta-fugiens/emblem12.html">12</a></li>
						<li><a href="../atalanta-fugiens/emblem13.html">13</a></li>
						<li><a href="../atalanta-fugiens/emblem14.html">14</a></li>
						<li><a href="../atalanta-fugiens/emblem15.html">15</a></li>
						<li><a href="../atalanta-fugiens/emblem16.html">16</a></li>
						<li><a href="../atalanta-fugiens/emblem17.html">17</a></li>
						<li><a href="../atalanta-fugiens/emblem18.html">18</a></li>
						<li><a href="../atalanta-fugiens/emblem19.html">19</a></li>
						<li><a href="../atalanta-fugiens/emblem20.html">20</a></li>
						<li><a href="../atalanta-fugiens/emblem21.html">21</a></li>
						<li><a href="../atalanta-fugiens/emblem22.html">22</a></li>
						<li><a href="../atalanta-fugiens/emblem23.html">23</a></li>
						<li><a href="../atalanta-fugiens/emblem24.html">24</a></li>
						<li><a href="../atalanta-fugiens/emblem25.html">25</a></li>
						<li><a href="../atalanta-fugiens/emblem26.html">26</a></li>
						<li><a href="../atalanta-fugiens/emblem27.html">27</a></li>
						<li><a href="../atalanta-fugiens/emblem28.html">28</a></li>
						<li><a href="../atalanta-fugiens/emblem29.html">29</a></li>
						<li><a href="../atalanta-fugiens/emblem30.html">30</a></li>
						<li><a href="../atalanta-fugiens/emblem31.html">31</a></li>
						<li><a href="../atalanta-fugiens/emblem32.html">32</a></li>
						<li><a href="../atalanta-fugiens/emblem33.html">33</a></li>
						<li><a href="../atalanta-fugiens/emblem34.html">34</a></li>
						<li><a href="../atalanta-fugiens/emblem35.html">35</a></li>
						<li><a href="../atalanta-fugiens/emblem36.html">36</a></li>
						<li><a href="../atalanta-fugiens/emblem37.html">37</a></li>
						<li><a href="../atalanta-fugiens/emblem38.html">38</a></li>
						<li><a href="../atalanta-fugiens/emblem39.html">39</a></li>
						<li><a href="../atalanta-fugiens/emblem40.html">40</a></li>
						<li><a href="../atalanta-fugiens/emblem41.html">41</a></li>
						<li><a href="../atalanta-fugiens/emblem42.html">42</a></li>
						<li><a href="../atalanta-fugiens/emblem43.html">43</a></li>
						<li><a href="../atalanta-fugiens/emblem44.html">44</a></li>
						<li><a href="../atalanta-fugiens/emblem45.html">45</a></li>
						<li><a href="../atalanta-fugiens/emblem46.html">46</a></li>
						<li><a href="../atalanta-fugiens/emblem47.html">47</a></li>
						<li><a href="../atalanta-fugiens/emblem48.html">48</a></li>
						<li><a href="../atalanta-fugiens/emblem49.html">49</a></li>
						<li><a href="../atalanta-fugiens/emblem50.html">50</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="topnav__contents__atalanta-essays">
			<ul>
				<li class="toc__heading"><a href="#">{{ heading2 }}</a></li>
				<li class="toc__description">{{ description2 }}</li>
				<li class="toc__content">
					<ul>
						<li class="toc__essay"><a href="../atalanta-essays/essay-intro.html">{{ title1 }}</a><span class="toc__byline">{{ author1 }}</span></li>
						<li class="toc__essay"><a href="../assets/img/pdf/sr-essay-mockup.pdf">{{ title2 }}</a><span class="toc__byline">{{ author2 }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay2.html">{{ title3 }}</a><span class="toc__byline">{{ author3 }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay3.html">{{ title4 }}</a><span class="toc__byline">{{ author4b }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay4.html">{{ title5 }}</a><span class="toc__byline">{{ author5 }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay5.html">{{ title6a }} <cite>{{ title6b }}</cite> {{ title6c }}</a><span class="toc__byline">{{ author6 }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay6.html">{{ title7 }}</a><span class="toc__byline">{{ author7 }}</span></li>
						<li class="toc__essay"><a href="../atalanta-essays/essay7.html">{{ title8 }}</a><span class="toc__byline">{{ author8 }}</span></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="section-break"></div>
		<div class="topnav__contents__atalanta-images">
			<ul>
				<li class="toc__heading">{{ heading3 }}</li>
				<li class="toc__content">
					<ul>
						<li class="toc__image"><a href="#">{{ subheading3a }}</a></li>
						<li class="toc__image"><a href="https://projects.invisionapp.com/share/JBNLEHNEAY3#/screens/315107191">{{ subheading3b }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="topnav__contents__atalanta-front">
			<ul>
				<li class="toc__heading">{{ heading4 }}</li>
				<li class="toc__content">
					<ul>
						<li class="toc__front"><a href="#">{{ subheading4a }}</a></li>
						
						<li class="toc__front"><a href="#">{{ subheading4b }} <cite>{{ subheading4bCitation }}</cite></a></li>
						<li class="toc__front"><a href="#">{{ subheading4c }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="topnav__contents__atalanta-back">
			<ul>
				<li class="toc__heading">{{ heading5 }}</li>
				<li class="toc__content">
					<ul>
						<li class="toc__back"><a href="#">{{ subheading5a }}</a></li>
						<li class="toc__back"><a href="#">{{ subheading5b }}</a></li>
						<li class="toc__back"><a href="#">{{ subheading5c }}</a></li>
						<li class="toc__back"><a href="#">{{ subheading5d }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</main>